@import "./utils";
@import "./typography";

@import "./page.scss";
@import "./header.scss";
@import "./home-page.scss";
@import "./footer.scss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}
