// media //
@mixin mobile {
  @media (min-width: 320px) and (max-width: 767px) {
    @content;
  }
}

@mixin iPad {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 1024px) and (max-width: 1279px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1280px) and (max-width: 1919px) {
    @content;
  }
}

@mixin full {
  @media (min-width: 1920px) {
    @content;
  }
}

// прочее //
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin link {
  text-decoration: none;
  scroll-behavior: smooth;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 0.4s ease;

  &:hover {
    border-bottom: 1px solid #fff;
  }
}

@mixin logo {
  transition: transform 500ms;

  &:hover {
    transform: scale(1.1);
  }
}

@mixin button {
  @include flex-center;
  justify-content: space-between;
  gap: 9px;
  width: max-content;
  height: max-content;
  padding: 9px 22px;
  border-radius: 12px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.4s ease;
}

@mixin input {
  height: 39px;
  width: 282px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 8px 12px 8px 16px;
  color: $blue-color;
  background-color: #f8f8f8;

  &:focus,
  &:hover {
    border: 1px solid $yellow-color;
  }

  @include mobile {
    width: 100%;
  }
}

// анимация
@mixin scroll-appearance {
  transition: all 1s ease-in-out 0.3s;
  transform: translate(0, -100%);
  opacity: 0;

  &._active {
    transform: translate(0, 0);
    opacity: 1;
  }
}

// width Conteiner {
@mixin widthConteiner {
  width: 1110px;
  margin: 0 auto;
  box-sizing: border-box;

  @include tablet {
    width: 964px;
  }

  @include iPad {
    width: 708px;
  }

  @include mobile {
    width: 100%;
    padding: 40px 20px;
  }
}
